<div class="feature list-item">
	<h3><a href="{{baseUrl}}/feature/{{feature._id}}" ng-click="focus(feature)">{{feature.title}}</a></h3>
	<div class="meta clearfix">
		<div class="clearfix">
			<p class="author">
				<a href="/user/{{feature.creator.username}}/">{{feature.creator.name}}</a>
			</p>
			<p class="layer" ng-show="map">
				<a href="/layers/{{feature.layer._id}}/">{{feature.layer.title}}</a>
			</p>
		</div>
	</div>
	<div class="excerpt">
		<div dynamic="description(feature)"></div>
	</div>
</div>