script(src='//code.jquery.com/jquery-1.10.2.min.js')
script(src="/vendor/underscore-min.js")
script(src="/vendor/eventable.js")
script(src='/js/bootstrap.min.js')
script(src="/vendor/leaflet/leaflet.js")
script(src="/vendor/angular.min.js")
script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-route.js")
script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-resource.js")
script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-animate.js")
script(src="/vendor/angular.elastic.js")
script(src="/vendor/angular-breadcrumbs.js")
script(src="/vendor/angular-leaflet-directive.min.js")
script(src="/vendor/angular.ui.keypress.js")
script(src="/vendor/sir-trevor/sir-trevor.min.js")
script(src='/js/app.js')

block javascript