script(src='/js/jquery-2.0.3.min.js')
script(src='/js/bootstrap.min.js')
script(src="/vendor/leaflet/leaflet.js")
script(src="/vendor/angular.min.js")
script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-route.js")
script(src='/js/app.js')

block javascript