footer#colophon
	.container
		.twelve.columns
			nav.institutional
				a(href="/about" target="_self") Sobre o Mapas Coletivos
				a(href="/terms-of-use" target="_self") Termos de uso
				a(href="/tutorial" target="_self") Tutorial
			.license
				a(href="https://creativecommons.org/licenses/by-sa/3.0/br/" target="_blank") Creative Commons CC BY-NC-SA 3.0
footer#partners
	.container
		.twelve.columns
			ul.logos
				li.oeco
					p Realização
					img(src="/img/banners/oeco.png")
				li.claro
					p Apoio
					img(src="/img/banners/claro.png")
				li.nossasp
					p Parceiros
					img(src="/img/banners/nossasp.png")
#loading(loading-status-message)
	.loading-message Carregando...