footer#colophon
	.container
		.twelve.columns
			nav.institutional
				a(href="/about" target="_self") Sobre o Mapas Coletivos
				a(href="/terms-of-use" target="_self") Termos de uso
				a(href="/tutorial" target="_self") Tutorial
			.license
				a(href="https://creativecommons.org/licenses/by-sa/3.0/br/" target="_blank") Creative Commons CC BY-NC-SA 3.0
footer#credits
	.container
		.twelve.columns
			ul.logos.row
				li.oeco
					p Realização
					a(href="http://oeco.org.br" target="_blank")
						img(src="/img/banners/oeco.png" alt="O Eco")
				li.claro
					p Apoio
					a(href="http://www.institutoclaro.org.br" target="_blank")
						img(src="/img/banners/claro.png" alt="Instituto Claro")
				li.nossasp
					p Parceiros
					a(href="http://www.nossasaopaulo.org.br" target="_blank")
						img(src="/img/banners/nossasp.png" alt="Rede Nossa São Paulo")
#loading(loading-status-message)
	.loading-message Carregando...