head(ng-controller="PageCtrl")
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
  meta(name="viewport", content="width=device-width,initial-scale=1")

  title(ng-bind="page.title()") Mapas Coletivos
  meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
  meta(name="keywords", content=pkg.keywords.join(','))
  meta(name="description", content=pkg.description)

  link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")

  link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Open+Sans:400italic,600italic,400,600,700,800,300")
  link(rel="stylesheet", href="/css/leaflet/leaflet.css")
  link(rel="stylesheet", href="/css/leaflet/leaflet.draw.css")
  link(rel="stylesheet", href="/css/mapbox.css")
  link(rel="stylesheet", href="/css/base.css")
  link(rel="stylesheet", href="/css/skeleton.css")
  link(rel="stylesheet", href="/css/leaflet/leaflet.css")
  link(rel="stylesheet", href="/css/sir-trevor/sir-trevor-icons.css")
  link(rel="stylesheet", href="/css/sir-trevor/sir-trevor.css")
  link(rel="stylesheet", href="/css/app.css")

  - if (req.isAuthenticated())
    script(type="text/javascript").
      window.isAuthenticated = true;
      window.user = !{JSON.stringify(req.user)};

  block head