header#mast-header
	nav(class="navbar" role="navigation")
		.container
			.six.columns
				h1
					a(class="brand" href="/" target="_self") Mapas Coletivos
						img(alt="Mapas Coletivos" src="/img/logo-small.png")
			.six.columns
				ul#mast-nav
					- if (req.isAuthenticated())
						li
							a.button(href="/explore", title="Explorar") Explorar
						li
							a.button(href="/dashboard", title="Dashboard") Dashboard
						li
							a.button(href="/logout", title="logout" target="_self") Logout
					- else
						li
							a.button.light-button(href="/explore", title="Explorar") Explorar
						li 
							a.button.login(href="/login" target="_self") Entrar