header#mast-header
	nav(class="navbar" role="navigation")
		.container
			.six.columns
				h1
					a(class="brand" href="/admin" target="_self")=t('Administrative area')

			.six.columns
				ul#mast-nav
					li 
						a#de(href='/?setLng=en')= t('app.english', 'English')
					li
						a#de(href='/?setLng=es')= t('app.spanish', 'Spanish')
					li
						a#de(href='/?setLng=pt-BR')= t('app.brazilian_portuguese', 'Portuguese (BR)')
				ul#mast-nav
					- if (req.isAuthenticated())
						li
							a(href="/admin/logout", title="Logout" target="_self")
								span.lsf &#xE088;
								| Logout
					- else
						li 
							a.login(href="/admin/login" target="_self")
								span.lsf &#xE087;
								| Login