header#mast-header
	nav(class="navbar" role="navigation")
		.container
			.six.columns
				h1
					a(class="brand" href="/" target="_self") Mapas Coletivos
						img(alt="Mapas Coletivos" src="/img/logo-small.png")
			.six.columns
				ul#mast-nav
					- if (req.isAuthenticated())
						li
							a(href="/explore", title="Explorar") Explorar
						li
							a(href="/dashboard", title="Dashboard")
								span.lsf &#xE055;
								| Painel de controle
						li
							a(href="/logout", title="Sair" target="_self")
								span.lsf &#xE088;
								| Sair
					- else
						li
							a(href="/explore", title="Explorar") Explorar
						li 
							a.login(href="/login" target="_self")
								span.lsf &#xE087;
								| Entrar