p=locals.t('views.mailer.password.set.salute', {username: locals.user.name})

p=locals.t('views.mailer.password.set.intro')

p 
	a(href='#{settings.general.serverUrl}/new_password/#{locals.token._id}')=locals.t('views.mailer.password.set.token')


p=locals.t('views.mailer.password.set.thanks', {defaultValue: 'Thank you!'})