.env
.env.backup
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

data/
public/uploads/images/
public/vendor.js
public/app.js
public/css/app.css

client/config.js

config/config.local.js
config/config.js

import/*
backup/*

translation_old.json