<div class="content list-item">
	<h3><a href="{{baseUrl}}/content/{{post._id}}">{{post.title}}</a></h3>
	<div class="meta clearfix">
		<div class="clearfix">
			<p class="author">
				<a href="/user/{{post.creator.username}}/">{{post.creator.name}}</a>
			</p>
			<p class="layer" ng-show="map">
				<a href="/layers/{{post.layer._id}}/">{{post.layer.title}}</a>
			</p>
		</div>
	</div>
	<div class="excerpt" dynamic="renderBlock(post.sirTrevorData[0])"></div>
	<p class="readmore"><a href="{{baseUrl}}/content/{{post._id}}">Leia mais</a></p>
</div>