<div class="single-content">
	<h2>{{content.title}}</h2>
	<div class="meta clearfix">
		<p class="author" title="Usuário">
			<a href="/user/{{content.creator.username}}/">{{content.creator.name}}</a>
		</p>
		<p class="layer" ng-show="map" title="Camada">
			<a href="/layers/{{content.layer._id}}/">{{content.layer.title}}</a>
		</p>
		<p class="features" ng-show="content.featureObjs.length" title="Features">
			<span class="feature" ng-repeat="feature in content.featureObjs">
				<a href="{{baseUrl}}/feature/{{feature._id}}" ng-click="focus(feature)">{{feature.title}}</a>
			</span>
		</p>
	</div>
	<div class="content-body">
		<div ng-repeat="block in content.sirTrevorData">
			<div dynamic="renderBlock(block)"></div>
		</div>
	</div>
</div>