<div class="regular-page explore-page">
	<div class="page-header row">
		<div class="container">
			<div class="six columns">
				<h1>Explore as narrativas mapeadas da comunidade do <br/><strong>Mapas Coletivos</strong></h1>
			</div>
		</div>
	</div>
	<section id="maps">
		<div class="page-subheader green anti-row row">
			<div class="container">
				<div class="twelve columns">
					<h2>Últimos mapas enviados</h2>
					<a class="button" href="/maps/">Veja todos os mapas</a>
				</div>
			</div>
		</div>
		<div class="container">
			<div ng-controller="MapActionsCtrl" class="content row">
				<div class="three columns" ng-repeat="map in maps">
					<div ng-include="templates.list" autoscroll="false"></div>
				</div>
			</div>
		</div>
	</section>
	<section id="layers">
		<div class="page-subheader green anti-row row">
			<div class="container">
				<div class="twelve columns">
					<h2>Últimas camadas enviadas</h2>
					<a class="button" href="/layers/">Veja todas as camadas</a>
				</div>
			</div>
		</div>
		<div class="container">
			<div ng-controller="LayerActionsCtrl" class="content row">
				<div class="three columns" ng-repeat="layer in layers">
					<div ng-include="templates.list" autoscroll="false"></div>
				</div>
			</div>
		</div>
	</section>
</div>