<div class="twelve columns">
	<h2>Camadas</h2>
</div>
<div class="layers-list" ng-show="layers.length">
	<div class="container">
		<div class="three columns">
			<div class="layer-item new-layer">
				<h3><a href="/layers/new">Criar nova camada</a></h3>
			</div>
		</div>
		<div class="three columns" ng-repeat="layer in layers">
			<div class="layer-item">
				<h3><a href="/layers/{{layer._id}}">{{layer.title}}</a></h3>
				<p>{{layer.description}}</p>
				<div class="actions">
					<a href="/layers/{{layer._id}}/edit">Editar</a>
					<a href="/layers/{{layer._id}}">Visualizar</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="create-layer" ng-hide="layers.length">
	<div class="container">
		<div class="twelve columns">
			<div class="info-box">
				<p>Você ainda não criou camadas! Clique aqui para <a href="/layers/new" title="Nova camada">criar sua primeira</a></p>
			</div>
		</div>
</div>