<div class="page-subheader anti-row row">
	<div class="container">
		<div class="twelve columns">
			<h2>Camadas</h2>
			<input class="filter" type="text" ng-model="search" placeholder="Busque por suas camadas" />
			<p>Você tem <strong>{{totalLayer}}</strong> camadas cadastradas.</p>
		</div>
	</div>
</div>
<div class="layers-list" ng-show="layers.length" ng-controller="LayerActionsCtrl">
	<div
		infinite-scroll="$layer.nextPage()"
		infinite-scroll-disabled="$layer.busy"
		infinite-scroll-distance="1"
		infinite-scroll-immediate-check="false"
		class="container">
		<div class="three columns">
			<div class="default-item new-item row">
				<h3>
					<a href="javascript:void(0);" ng-click="new()">
						<span class="lsf">&#xE108;</span>
						Criar nova camada
					</a>
				</h3>
			</div>
		</div>
		<div class="three columns" ng-repeat="layer in layers | filter:search">
			<div ng-include="templates.list" autoscroll="false"></div>
		</div>
	</div>
</div>
<div class="create-layer" ng-hide="layers.length">
	<div class="container">
		<div class="twelve columns">
			<div class="info-box new-item" ng-controller="LayerActionsCtrl">
				<p><a href="javascript:void(0);" ng-click="new()" title="Nova camada">Você ainda não criou camadas! Clique aqui para criar sua primeira.</a></p>
			</div>
		</div>
	</div>
</div>