<div class="page-subheader anti-row row">
	<div class="container">
		<div class="twelve columns">
			<h2>Mapas</h2>
			<input class="filter" type="text" ng-model="search" placeholder="Busque por seus mapas" />
			<p>Você tem <strong>{{totalMap}}</strong> mapas cadastrados.</p>
		</div>
	</div>
</div>
<div class="maps-list" ng-show="maps.length" ng-controller="MapActionsCtrl">
	<div
		infinite-scroll="$map.nextPage()"
		infinite-scroll-disabled="$map.busy"
		infinite-scroll-distance="1"
		infinite-scroll-immediate-check="false"
		class="container">
		<div class="three columns">
			<div class="default-item new-item row">
				<h3>
					<a href="/maps/new">
						<span class="lsf">&#xE108;</span>
						Criar novo mapa
					</a>
				</h3>
			</div>
		</div>
		<div class="three columns" ng-repeat="map in maps | filter:search">
			<div ng-include="templates.list" autoscroll="false"></div>
		</div>
	</div>
</div>
<div class="create-map" ng-hide="maps.length">
	<div class="container">
		<div class="twelve columns">
			<div class="info-box new-item">
				<p><a href="/maps/new" title="Novo mapa">Você ainda não criou mapas! Clique aqui para criar seu primeiro.</a></p>
			</div>
		</div>
	</div>
</div>