<div class="page-subheader anti-row row">
	<div class="container">
		<div class="twelve columns">
			<h2>Perfil</h2>
		</div>
	</div>
</div>
<div id="profile-editor" ng-controller="UserCtrl">
	<div class="container">
		<form ng-submit="save(user)">
			<div class="row">
				<div class="six columns">
					<div class="profile-edit-form">
						Nome de usuário <input ng-model="user.name" type="text" />
						Email <input ng-model="user.email" type="text" />
						Biografia <textarea ng-model="user.bio" type="text"></textarea>
						<a class="button" ng-click="save(user)">Salvar</a>
					</div>
				</div>
				<div class="six columns">
					<div class="change-pwd-form">
						<h4>Alteração de senha</h4>
						Senha antiga <input type="password" ng-model="chPwd.userPwd" />
						<h5>Senha nova</h5>
						Senha <input type="password" ng-model="chPwd.newPwd" />
						Repetir senha <input type="password" ng-model="chPwd.validatePwd" />
						<a class="button" ng-click="changePassword(user, chPwd)">Salvar</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>