<div ng-controller="UserCtrl">
	<div class="page-subheader anti-row row">
		<div class="container">
			<div class="twelve columns">
				<h2>Perfil</h2>
				<a class="button" href="javascript:void(0);" ng-click="openPwdModal(user)">Alterar senha</a>
				<a class="button" href="javascript:void(0);" ng-click="openEmailModal(user)">Alterar email</a>
			</div>
		</div>
	</div>
	<div id="profile-editor">
		<div class="container">
			<form ng-submit="save(user)">
				<div class="row">
					<div class="seven columns">
						<div class="profile-edit-form">
							<p class="label">Nome de usuário</p>
							<textarea class="no-canvas user-name" ng-model="user.name" disable-enter-key="$event" spellcheck="false" autocorrect="off" autocapitalize="off" msd-elastic></textarea>
							<p class="label">Biografia</p>
							<textarea class="no-canvas user-bio" ng-model="user.bio" placeholder="Fale um pouco sobre você" spellcheck="false" autocorrect="off" autocapitalize="off" msd-elastic></textarea>
							<p><a class="button" ng-click="save(user)">Salvar perfil</a></p>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>