html,body {
	font: 14px "Open Sans", Helvetica, arial, freesans, clean, sans-serif;
	line-height: 1.4;
	color: #333333;
	background: #fff;
	width: 100%;
	height: 100%;
}

h1,h2,h3 {
	font-family: "Lato", sans-serif;
	font-weight: 100;
}

img {
	max-width: 100%;
}

a.button,
.button,
button,
input[type=submit] {
	background: #80d478;
	padding: 20px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	line-height: 100%;
	border: 0;
	cursor: pointer;
}

a.button.light-button,
.button.light-button,
button.light-button,
input[type=submit].light-button {
	opacity: .6;
}

/*
 * Header
 */
#mast-header {
	background: #ebf6ff;
	padding: 10px 0;
	h1 {
		text-indent: -9999px;
		line-height: 0;
		margin: 0;
		padding: 0;
		img {
			display: block;
		}
	}
	h2 {
		float: right;
		text-transform: uppercase;
		font-size: 18px;
		color: #000;
	}
	#mast-nav {
		float: right;
		margin: 0;
		li {
			float: left;
			margin: 0 0 0 1px;
			padding: 0;
			a {
				font-size: 12px;
				padding: 10px 15px;
			}
		}
	}
}
.landing #mast-header {
	padding: 60px 0;
	#mast-nav li a {
		font-size: 14px;
		padding: 20px;
	}
}

/**********************************
 ************* LAYOUTS ************
 **********************************/

 /*
  * Map editor
  */

.map-editor-container {
	position: absolute;
	top: 52px;
	left: 0;
	right: 0;
	bottom: 0;
	#editor {
		width: 33%;
		height: 100%;
		float: left;
		max-width: 600px;
		min-width: 300px;
		background: #333;
		color: #f0f0f0;
		h1,h2,h3 {
			color: #f0f0f0;
		}
		.editor-content {
			margin: 40px;
			position: relative;
		}
	}
	#map {
		height: 100%;
		position: relative;
	}
}