ul
	li
		a(href="/admin/settings") Configurações
		ul
			li
				a(href="/admin/settings") Configurações gerais
			li
				a(href="/admin/settings/mail") Envio de e-mail

	li
		a(href="/admin/users") Usuários
		ul
			li
				a(href="/admin/users/invite") Convidar usuários
			li
				a(href="/admin/users/roles") Alterar permissões