p=locals.t('views.mailer.contributions.new_contributor.salute', {defaultValue: 'Hi, __username__,', username: locals.contributor.name})

p=locals.t('views.mailer.contributions.new_contributor.intro', {creator: locals.creator.name, layer: locals.layer.title})

p=locals.t('views.mailer.contributions.new_contributor.visit_dashboard', {defaultValue: 'Visit your dashboard to start mapping collaboratively'})

p=locals.t('views.mailer.contributions.new_contributor.bye', {defaultValue: 'Happy mapping!'})
