extends ../layouts/default-static

block main
	center
		h1= title

block content
	center
		a(href="/auth/twitter" target="_self")
			img(src="/img/twitter.png")
		a(href="/auth/facebook" target="_self")
			img(src="/img/facebook.png")
		a(href="/auth/google" target="_self")
			img(src="/img/google.png")

	center
		br
		h2 OR
		br

	.login
		block auth