extends ../layouts/default-static

block main


block content
	section#login
		.login-content
			h1=title
			include ../includes/messages
			.login-form
				form.form-horizontal(action="/forgot_password", method="post", role="form")

					p.col-sm-offset-2.error= message

					.form-group
						label.col-sm-2.control-label(for="emailOrUsername") Seu endereço de e-mail ou nome de usuário:
						.col-sm-10
							input#email.form-control(name="emailOrUsername" placeholder="Endereço de email ou usuário")

					.form-group
						.col-sm-offset-2.col-sm-10
							input.btn.btn-primary(type='submit' value="Recuperar senha")