extends auth

block auth
  form.form-horizontal(action="/users/session", method="post", role="form")
    input(type='hidden', name='_csrf', value="#{csrf_token}")

    p.col-sm-offset-2.error= message

    .form-group
      label.col-sm-2.control-label(for="email") Email
      .col-sm-10
        input#email.form-control(type="email", placeholder="Email", name="email")

    .form-group
      label.col-sm-2.control-label(for="password") Senha
      .col-sm-10
        input#password.form-control(type="password", placeholder="Senha", name="password")

    input.btn.btn-primary(type='submit' value="Entrar")

    .form-group.action-group
      a.show-signup(href="/signup" target="_self") Cadastre-se
      a(href="/forgot_password" target="_self") Recuperar senha