extends ../layouts/default-static

block main
	center
		h1= title

block content
	form.form-horizontal(action="/password_reset/#{token._id}", method="post", role="form")
		p.col-sm-offset-2.error= message

		.form-group
			label.col-sm-2.control-label(for="password") Password
			.col-sm-10
				input#password.form-control(type="password", placeholder="Password", name="password")

		.form-group
			.col-sm-offset-2.col-sm-10
				button.btn.btn-primary(type='submit') Salva nova senha