p=locals.t('views.mailer.user.account.migrate.salute', {defaultValue: 'Hi, __username__,', username: locals.user.name})

p
	a(href='#{settings.general.serverUrl}/migrate_account/#{locals.token._id}')=locals.t('views.mailer.user.account.migrate.link', {defaultValue: 'Proceed to migration'})

p=locals.t('views.mailer.user.account.migrate.bye', {defaultValue: 'Happy mapping!'})