<div class="map-editor-container">
	<div class="editor-container">
		<div id="editor">
			<div class="editor-content">
				<div class="page-header layer-head">
					<h2>Camada</h2>
					<textarea class="edit-title no-canvas" type="text" ng-model="layer.title" placeholder="Título da camada" mc-disable-enter="$event" spellcheck="false" autocorrect="off" autocapitalize="off" msd-elastic></textarea>
				</div>
				<div class="content">
					<div id="layer-edit">
						<ul class="map-editor-tabs layer-objects-nav">
							<li ng-class="layerObj('settings')" ng-click="setLayerObj('settings')">
								<a title="Configurações" href="javascript:void(0);">
									<span class="lsf">&#xE055;</span>
									<span class="label" ng-show="layerObj('settings')">
										Configurações
									</span>
								</a>
							</li>
							<li ng-class="layerObj('feature')" ng-click="setLayerObj('feature')">
								<a title="Features" href="javascript:void(0);">
									<span class="lsf">&#xE103;</span>
									<span class="label" ng-show="layerObj('feature')">
										Features
									</span>
									<span class="feature-length tab-tip" ng-show="sharedData.features().length">
										{{sharedData.features().length}}
									</span>
								</a>
							</li>
							<li ng-class="layerObj('content')" ng-click="setLayerObj('content')">
								<a title="Conteúdo" href="javascript:void(0);">
									<span class="lsf">&#xE101;</span>
									<span class="label" ng-show="layerObj('content')">
										Conteúdo
									</span>
									<span class="content-length tab-tip" ng-show="sharedData.contents().length">
										{{sharedData.contents().length}}
									</span>
								</a>
							</li>
						</ul>
						<div ng-show="layerObj('settings')">
							<div id="settings">
								<table class="options-table">
									<tr>
										<th>Descrição</th>
										<td>
											<textarea class="edit-description no-canvas" type="text" ng-model="layer.description" mc-disable-enter="$event" placeholder="Descrição" spellcheck="false" autocorrect="off" autocapitalize="off" msd-elastic></textarea>
										</td>
									<tr>
										<th>Tags</th>
										<td><input type="text" ng-model="layer.tags" placeholder="Separe as tags por vírgula" /></td>
									</tr>
									<tr>
										<th>Privacidade</th>
										<td>
											<ul class="radio-list">
												<li ng-class="{active: layer.visibility == 'Visible'}" ng-click="layer.visibility = 'Visible'">
													<span class="lsf">&#xE134;</span>
													Público
												</li>
												<li ng-class="{active: layer.visibility == 'Private'}" ng-click="layer.visibility = 'Private'">
													<span class="lsf">&#xE086;</span>
													Privado
												</li>
											</ul>
										</td>
									</tr>
								</table>
								<a href="javascript:void(0);" class="button button-red button-delete" ng-click="delete()"><span class="lsf">&#xE12c;</span>Remover esta camada permanentemente.</a>
							</div>
						</div>
						<div ng-controller="FeatureCtrl" ng-show="layerObj(objType)">
							<div id="layer-features" class="map-editor-subcontent">
								<div class="features-list">
									<a href="javascript:void(0);" class="button add-new" ng-click="new()">
										<span class="lsf">&#xE108;</span>
										Adicionar nova
									</a>
									<input class="filter" type="text" ng-model="search" placeholder="Encontrar na lista" />
									<ul class="obj-list">
										<li ng-repeat="feature in features | filter:search" ng-click="edit(feature._id)">
											{{feature.title}}
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div ng-controller="ContentCtrl" ng-show="layerObj(objType)">
							<div id="layer-content" class="map-editor-subcontent">
								<a href="javascript:void(0);" class="button add-new" ng-click="new()">
									<span class="lsf">&#xE108;</span>
									Adicionar novo
								</a>
								<input class="filter" type="text" ng-model="search" placeholder="Encontrar na lista" />
								<ul class="obj-list">
									<li ng-repeat="item in contents | filter:search" ng-click="edit(item._id)">
										{{item.title}}
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<form class="primary-actions" ng-submit="save()">
			<a href="javascript:void(0);" class="button button-secondary" ng-click="close()">Ver camada</a>
			<a href="javascript:void(0);" class="button" ng-click="save()">Salvar alterações</a>
		</form>
	</div>
	<div ng-controller="FeatureEditCtrl" class="map-container object-editor" ng-class="{editing: editing}" ng-hide="sharedData.editingContent()">
		<div id="edit-feature" ng-show="editing" ng-animate="'top-down'">
			<form ng-submit="save()">
				<div class="feature-settings">
					<h3>Feature</h3>
					<textarea class="edit-title no-canvas" placeholder="Título da feature" ng-model="editing.title" mc-disable-enter="$event" spellcheck="false" autocorrect="off" autocapitalize="off" msd-elastic></textarea>
					<textarea class="edit-description no-canvas" placeholder="Descrição da feature" ng-model="editing.description" mc-disable-enter="$event" spellcheck="false" autocorrect="off" autocapitalize="off" msd-elastic></textarea>
					<div class="latlng">
						<p class="latitude latlng-item">Latitude: <input ng-model="editing.geometry.coordinates[0]" ng-change="setMarker()" type="text" /></p>
						<p class="longitude latlng-item">Longitude: <input ng-model="editing.geometry.coordinates[1]" ng-change="setMarker()" type="text" /></p>
					</div>
				</div>
				<div class="editing-tools" ng-class="{editing: tool}">
					<ul class="tools-list">
						<li class="feature-location-label" ng-class="{active: tool == 'feature-location'}"><a href="javascript:void(0);" title="Buscar uma localização" ng-click="setTool('feature-location')"><span class="lsf">&#xE116;</span></a></li>
						<li class="remove-label" ng-show="editing._id"><a href="javascript:void(0);" title="Remover esta feature" ng-click="delete()"><span class="lsf">&#xE12c;</span></a></li>
						<li class="save-label"><a href="javascript:void(0);" title="Salvar alterações desta feature" ng-click="save()"><span class="lsf">&#xE029;</span></a></li>
					</ul>
					<div class="tools-editor" ng-show="tool">
						<div class="feature-location" ng-show="tool == 'feature-location'">
							<div class="location-editor">
								<input class="geocode" type="text" ui-keypress="{'enter': 'geocode()'}" ng-model="_data.geocode" placeholder="Encontre uma localização" />
								<a href="javascript:void(0);" ng-click="geocode()" class="search-button button button-small"><span class="lsf">&#xE116;</span> Buscar</a>
								<div class="geocode-results">
									<ul ng-repeat="result in _data.geocodeResults">
										<li><a href="javascript:void(0);" class="lsf locate" title="Utilizar esta coordenada" ng-click="setNominatimFeature(result)">&#xE056;</a>{{result.display_name}}</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--
				<div class="editor-bottom">
					<div class="feature-actions editor-actions">
						<a class="button button-small" href="javascript:void(0);" ng-click="save()" ng-show="editing._id">Salvar</a>
						<a class="button button-small" href="javascript:void(0);" ng-click="save()" ng-hide="editing._id">Adicionar nova feature</a>
						<a class="button button-small" href="javascript:void(0);" ng-click="close()">Cancelar</a>
					</div>
				</div>
				-->
			</form>
		</div>
		<div id="layer-map"></div>
		<div class="add-marker-tip" ng-hide="marker">Clique no mapa para adicionar um marcador</div>
	</div>
	<div ng-controller="ContentEditCtrl" class="content-editor object-editor" ng-show="editing">
		<form ng-submit="save()">
			<div class="editing-tools" ng-class="{editing: tool}">
				<ul class="tools-list">
					<li class="content-features-label" ng-class="{active: tool == 'content-features'}">
						<a href="javascript:void(0);" title="Features deste conteúdo" ng-click="setTool('content-features')">
							<span class="lsf">&#xE103;</span>
							<span class="feature-length" ng-show="editing.features">{{editing.features.length}}</span>
						</a>
					</li>
					<li class="remove-label" ng-show="editing._id">
						<a href="javascript:void(0);" title="Remover este conteúdo permanentemente" ng-click="delete()"><span class="lsf">&#xE12c;</span></a>
					</li>
					<li class="save-label">
						<a href="javascript:void(0);" title="Salvar alterações deste conteúdo" ng-click="save()"><span class="lsf">&#xE029;</span></a>
					</li>
					<li class="revert-label" ng-show="isRevertable()">
						<a href="javascript:void(0);" title="Reverter alterações" ng-click="revert()"><span class="lsf">&#xE133;</span></a>
					</li>
				</ul>
				<div class="tools-editor" ng-show="tool">
					<div class="content-features" ng-show="tool == 'content-features'">
						<p>Selecione a(s) feature(s) relacionadas a este conteúdo</p>
						<input class="filter" type="text" ng-model="filterFeature" placeholder="Filtrar features da lista" />
						<a href="javascript:void(0);" ng-click="clearFeatures()" class="clear-selection" ng-show="editing.features">Limpar seleção</a>
						<ul class="feature-list">
							<li ng-repeat="feature in sharedData.features() | filter:filterFeature" ng-class="{selected:hasFeature(feature._id)}" ng-click="toggleFeature(feature._id)">{{feature.title}}</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="content-edit-body" class="content-settings">
				<div class="content-title">
					<h3>Conteúdo</h3>
					<textarea class="edit-title no-canvas" placeholder="Título" ng-model="editing.title" mc-disable-enter="$event" spellcheck="false" autocorrect="off" autocapitalize="off" msd-elastic></textarea>
				</div>
				<div class="content-body">
					<textarea sir-trevor-editor ng-model="editing.sirTrevor"></textarea>
				</div>
			</div>
			<!--
			<div class="editor-bottom">
				<div class="content-actions editor-actions">
					<a class="button button-small" href="javascript:void(0);" ng-click="save()" ng-show="editing._id">Salvar</a>
					<a class="button button-small" href="javascript:void(0);" ng-click="revert()" ng-show="isRevertable()">Reverter alterações</a>
					<a class="button button-small" href="javascript:void(0);" ng-click="save()" ng-hide="editing._id">Adicionar novo conteúdo</a>
					<a class="button button-small" href="javascript:void(0);" ng-click="close()">Cancelar</a>
				</div>
			</div>
			-->
		</form>
	</div>
</div>