<div class="modal new-layer-modal">
	<div class="modal-container">
		<div class="modal-content">
			<a href="javascript:void(0);" class="close-button lsf" ng-click="close()" title="Fechar">&#xE10f;</a>
			<h2>Nova camada</h2>
			<p>Qual tipo de camada você deseja criar?</p>
			<div class="layer-types-selector">
				<a href="javascript:void(0);" ng-click="newLayer('FeatureLayer')">
					<span class="img-container"><span class="lsf">&#xE101;</span></span>
					Camada de histórias
				</a>
				<a href="javascript:void(0);" ng-controller="DataImportCtrl">
					<div import-input-trigger="import-data-input">
						<span class="img-container"><span class="lsf">&#xE115;</span></span>
						<span>Importar dados</span>
						<span class="tip">(GeoJSON, TopoJSON, KML, CSV, GPX e arquivos XML do OSM)</span>
					</div>
					<div style="position:absolute;height:0;visibility:hidden;">
						<input type="file" id="import-data-input" import-input />
					</div>
				</a>
				<a href="javascript:void(0);" ng-click="newLayer('TileLayer', 'tilelayer')">
					<span class="img-container"><span class="lsf">&#xE12a;</span></span>
					TileLayer
				</a>
				<a href="javascript:void(0);" ng-click="newLayer('TileLayer', 'mapbox')">
					<span class="img-container"><img src="/img/mapbox.png"></span>
					Camada do MapBox
				</a>
			</div>
		</div>
	</div>
</div>