<div class="map-view layer-view" ng-controller="FeatureCtrl">
	<div class="page-header">
		<div class="container">
			<div class="four columns row">
				<div id="layer-info" class="map-info">
					<h1>{{layer.title}}</h1>
					<p class="author">by {{layer.creator.name}}</p>
				</div>
			</div>
		</div>
	</div>
	<div id="layer-controls" class="map-controls" ng-controller="LayerActionsCtrl">
		<div class="container">
			<div class="six columns">
				<ul>
					<li ng-show="canEdit(layer)">
						<a href="/layers/{{layer._id}}/edit" title="Editar">
							<span class="lsf">&#xE09f;</span>
							<span class="label">Editar</span>
						</a>
					</li>
					<li ng-show="canEdit(layer)">
						<a href="javascript:void(0);" ng-click="delete(layer)" title="Editar">
							<span class="lsf">&#xE12c;</span>
							<span class="label">Remover</span>
						</a>
					</li>
					<li ng-show="layer.visibility !== 'Private' || canEdit(layer)">
						<a href="javascript:void(0);" ng-click="share(layer)" title="Compartilhar">
							<span class="lsf">&#xE118;</span>
							<span class="label">Compartilhar</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="map-container" ng-class="{shrink: activeSidebar}">
		<div id="layer-map"></div>
	</div>
	<div id="map-sidebar" ng-class="{active: activeSidebar}">
		<div id="feature-info" ng-show="feature">
			<a href="/layers/{{layer._id}}">Fechar</a>
			<h2>{{feature.title}}</h2>
			<p>{{feature.description}}</p>
		</div>
		<div id="posts" ng-controller="ContentCtrl" ng-show="contents.length">
			<div class="single-post" ng-show="content" ng-include="templates.show"></div>
			<div ng-hide="content">
				<ul class="content-list">
					<li ng-repeat="post in contents" ng-include="templates.list"></li>
				</ul>
			</div>
		</div>
	</div>
</div>