extends ../layouts/default-static

block main


block content
	section#login
		.login-content
			h1=title
			include ../includes/messages

			a.button(href="/login", title="Ir para o início", target="_self") Ir para o login
