doctype html
html
	body
		section
			include ../includes/messages

			if (callbackUrl)
				a.button(href="#{callbackUrl}", title="Proceed to site", target="_self") Proceed to site

			- if (autoRedirect)
				script.
					setTimeout(function(){
						window.location.href = '#{callbackUrl}';
					}, 5000);