extends ../layouts/default-static

block main
	.container
		.twelve.columns
			h1 Sobre

block content
	.page
		.container
			.six.columns
				p mapasColetivos é uma plataforma para criação de narrativas colaborativas. Junta cartografia digital, compartilhamento de dados e jornalismo-cidadão.

				p Qualquer pessoa pode criar seus próprios mapas e convidar o público a colaborar, e também colaborar nos mapeamentos existentes na galeria de mapas. A plataforma pode ser usada em computadores e, futuramente, em celulares.

				p mapasColetivos é um espaço para reportar os temas importantes para a sustentabilidade urbana. Áreas Verdes, Mobilidade Urbana, Qualidade do Ar, Água, Acessibidade, Arte e Cultura, Arquitetura e Urbanismo, Educação, Alimentação, Lixo e Reciclagem são temas de nosso projeto.

				p Ao criar seus mapas você colabora para um retrato mais amplo de sua região. Todos os relatos criados no seu mapa coletivo formam camadas de informação que são dinamicamente atualizadas na página inicial. E também formam sua geografia pessoal, sua atuação no mapasColetivos.

				p As narrativas feitas a partir dos dados mapeados buscam analisar dados, ampliar debate e evidenciar soluções. Todos somos mapeadores e repórteres.

				p O principal conceito é promover o mapeamento coletivo como forma de engajamento dos cidadãos na arena pública.

				p Queremos proporcionar acesso livre e de qualidade a dados cruciais para os cidadãos.
