extends ../layouts/default-static

block main
	.container
		.twelve.columns
			h1 Sobre

block content
	.page
		.container
			.six.columns
				p mapasColetivos é uma plataforma para criação de narrativas colaborativas. Junta cartografia digital, compartilhamento de dados e jornalismo-cidadão.
				p Qualquer pessoa pode publicar dados, histórias, visualizá-las em mapas customizáveis e convidar o público a colaborar. 
				p mapasColetiovos é um aplicativo, mas não só. É sobretudo um espaço para reportar questões importantes para a qualidade de vida no espaço público. 
				p Áreas verdes, mobilidade urbana, qualidade do ar, água, acessibidade, arte e cultura, arquitetura e urbanismo, educação, alimentação, lixo e reciclagem são alguns dos temas de nosso projeto.
				p
					| Ao contar histórias, publicar dados e  criar visualizações você colabora para um retrato mais amplo de 
					strong seu, bairro, cidade ou região
					| . 
