extends ../layouts/default

block main

block content
	h2 Features
		p
			a(href='/features/new') Add new
		- if (features.length)
		- each feature in features
			.feature
				h3
					a(href='/features/'+feature._id, title=feature.title) #{feature.title}