doctype html
html
	include ../includes/head
	body.landing
		header#mast-header.row
			nav(class="navbar" role="navigation")
				.container
					.five.columns
						a.button(href="/import" target="_self") Importar