doctype html
html
	include ../includes/head
	body.landing
		header#mast-header.row
			nav(class="navbar" role="navigation")
				.container
					.six.columns
						h1
							a(class="brand" href="/") Mapas Coletivos
								img(alt="Mapas Coletivos" src="/img/logo-big.png")
						h2 Narrativas Colaborativas
					.six.columns
						ul#mast-nav
							- if (req.isAuthenticated())
								li
									a.button(href="/explore", title="Explorar") Explorar
								li
									a.button(href="/dashboard", title="Dashboard") Dashboard
								li
									a.button(href="/logout", title="logout") Logout
							- else
								li
									a.button.light-button(href="/explore", title="Explorar") Explorar
								li 
									a.button.login(href="/login") Entrar