extends ../layouts/default-static

block main
	.container
		.twelve.columns
			h1 Termos de Uso

block content
	.page
		.container
			.six.columns

				h2 Seção 1 : Regras de uso

				h3 1.1 Ao criar um mapa em Mapas Coletivos, os usuários cadastrados, sejam eles pessoas físicas ou Jurídicas se comprometem a:

				p a) não utilizar a ferramenta para fins comerciais, como propaganda de estabelecimentos eventos com cobrança de ingresso, ou que representem um interesse político ou religioso;
				p b) não difundir mensagens de violência, discriminação social, religiosa, racial ou sexual;
				p c) não utilizar termos pejorativos nos títulos e descrições das histórias, locais, camadas e mapas;
				p d) respeitar as categoria temáticas disponibilizadas no momento da criação do mapa*.

				h3 1. 2. A equipe do mapasColetivos se reserva o direito de:
				
				p a) apagar mapas, histórias e locais que transgridam os termos definitos do parágrafo 1.1 deste documento;
				p b) excluir usuários que apresentem comportamento abusivo no uso da ferramenta de mapeamento.

				h3 1. 3 . Política de Comentários*

				p
					| A política de comentários de mapasColetivos seguirá as normas estabelecidas pela Associação O Eco, organização executora, conforme documento disponibilizado no seguinte endereço 
					a(href="http://www.oeco.com.br/politica-comentarios") http://www.oeco.com.br/politica-comentarios
					| .

				h2 Seção 2 : Política de Dados

				h3 2.1 Compromisso de mapasColetivos

				p a) Os dados dos usuários fornecidos no cadastro não serão compartilhados com empresas de mala direta ou quaisquer outras atividades comerciais, a não ser aquelas que estejam sendo realizadas dentro do plano de apoio à plataforma mapasColetivos;

				p b) Atender a pedidos para exclusão de quaisquer dados que afetem a privacidade de seus usuários e a comunidade;

				p c) Utillizar os dados apenas com fins jornalísticos, fazendo monitoramento de reutilizações de material anteriormente publicado em nossa plataforma.

				h3 2.2 Compromisso do usuário

				p a)
					| Ceder os direitos de uso dos dados de localização dos relatos, fotos, vídeos e links bem como autorizar a reutilização destes dados para análises gráficas não comerciais e veiculação de conteúdo jornalístico em www.mapascoletivos.com.br e sites parceiros que respeitem os termos da licença Creative Commons 
					strong CC BY-NC-SA 3.0

				p
					| b) Utilizar dados que não infrinjam as correntes leis brasileiras civis e criminais e que respeitem direitos autorais de obras audiovisuais e textos que venham a ser utilizados na plataforma 
					a(href="www.mapascoletivos.com.br") www.mapascoletivos.com.br
					| ;

				p c) Utilizar a ferramenta de upload e publicação de APIs de dados apenas para disponibilizar bases de dados que não estejam protegidas por sigilo oficial ou que representem risco de segurança à fonte de informação;

				p d) Utilizar a ferramenta de download de dados somente com fins não comerciais. *

				h3 Seção 3: Direitos autorais

				p Parágrafo único: A plataforma mapasColetivos utiliza o software aberto** e os dados acrescidos pelos usuários farão parte de um único banco de dados com informações geolocalizadas.

				p Este banco de dado pode ser acessado sob a licença Creative Commons CC BY-NC-SA 3.0 

				p.small *Funcionalidades existentes na versão anterior do mapasColetivos e que serão posteriormente acrescidas na nova versão

				p.small ** A versão anterior de mapasColetivos utilizava o softaware aberto Ushahidi e no momento utiliza versão preliminar de JEO Community, desenvolvido por ((o))ecoLab. Repositório a ser publicado até maio de 2014.