extends ../layouts/default-static

block main
	.container
		.twelve.columns
			h1 Como usar a ferramenta

block content
	.page.tutorial-page
		.container
			.four.columns
				&nbsp;
				.table-of-contents
					h3 Índice
					h4
						a(href="#layer" target="_self") Adicionando e gerenciando camadas
					ul
						li
							a(href="#layer-features" target="_self") Adicionando locais na camada
						li
							a(href="#layer-stories" target="_self") Adicionando histórias na camada
						li
							a(href="#content-features" target="_self") Associando conteúdo à locais
						li
							a(href="#layer-publish" target="_self") Publicando a camada
					h4
						a(href="#map" target="_self") Adicionando e gerenciando mapas
					ul
						li
							a(href="#map-publish" target="_self") Publicando o mapa
					h4 
						a(href="#profile" target="_self") Editando seu perfil, email e senha

			.eight.columns
				section#first-step
					p
						| Acesse 
						a(href="http://alpha.mapascoletivos.com.br/") http://alpha.mapascoletivos.com.br/
					p Clique em "Cadastre-se e comece a criar mapas"

					p Faça login criando um perfil na própria ferramenta ou conectando um dos perfis das redes sociais (Twitter, Facebook ou Google+)

				section#layer
					h2
						a(href="#layer" target="_self") Adicionando e gerenciando camadas

					ul

						li Acesse seu painel de controle e clique no enorme botão verde

						li Preencha as configurações de sua camada. Você pode convidar pessoas a colaborarem! (é preciso conhecer outros usuários cadastrados)

					p Camadas públicas são as que podem ser acessadas por qualquer pessoa. as privadas apenas pelos editores

					section#layer-features

						h3
							a(href="#layer-features" target="_self") Adicionando locais na camada

						ul

							li Clique na aba "Locais", para adicionar pontos

							li Clique em "Adicionar novo"

							li Faça uma busca utilizando a lupa ou clique no mapa para adicionar o marcado onde deseja (você pode arrastar o marcado para definir um local mais preciso)

							li Preencha um título para seu novo local

							li Clique no botão de confirmação

					section#layer-stories

						h3
							a(href="#layer-stories" target="_self") Adicionando histórias na camada

						ul
							li Clique na aba "Conteúdo", para adicionar histórias

							li Clique em "Adicionar novo"

							li Insira um título para sua história

							li Escreva no bloco de conteúdo de texto já presente abaixo do título e clique no botão "+" para adicionar novos blocos de conteúdo

							li Clique no botão com setas para cima e para baixo para rearranjar a ordem de um bloco de conteúdo

							li Para salvar seu conteúdo, clique no botão de confirmação

					section#content-features

						h3
							a(href="#content-features" target="_self") Associando conteúdo à locais

						ul
							li Na edição do conteúdo, clique no ícone com um marcador, no canto superior direito

							li Escolha os pontos aos quais deseja associar o conteúdo

							li Feche a aba de associação clicando novamente no ícone com o marcador

							li Para salvar a associação, clique no botão de confirmação

					section#layer-publish

						h3
							a(href="#layer-publish" target="_self") Publicando a camada

						ul
							li Clique em "Publicar camada", no canto inferior esquerdo.

							li Após publicar, clique em Ver camada

					section#layer-navigation

						h3
							a(href="#layer-navigation" target="_self") Navegando nas camadas

						ul
							li Acesse "Explorar", no menu do cabeçalho

				section#map
					h2
						a(href="#map" target="_self") Adicionando e gerenciando mapas

					ul
						li Acesse seu Painel de Controle pelo menu do cabeçalho

						li Escolha a opção "Mapas", no menu do painel de controle

						li Clique em "Criar novo mapa"

						li Na segunda aba da edição, "Camadas", atribua as camadas do seu mapa. Você pode adicionar suas camadas ou buscar as camadas públicas da comunidade

						li A ordem das camadas pode ser alterada arrastando-as para cima ou para baixo, durante a edição

						li Na terceira aba, "Configurações do mapa", defina a visualização do seu mapa. Você pode copiar o parâmetro do mapa sendo visualizado para o campo de configuração clicando no botão azul, ao lado do valor do campo.

					section#map-publish

						h3
							a(href="#map-publish" target="_self") Publicando o mapa

						ul
							li Clique em "Publicar mapa", no canto inferior esquerdo.

							li Após publicar, clique em Ver mapa

				section#profile
					h2
						a(href="#profile" target="_self") Editando seu perfil, email e senha

					ul
						li Acesse seu Painel de Controle pelo menu do cabeçalho

						li Clique no link "Meu perfil", no cabeçalho do Painel de Controle