<div class="map-editor-container">
	<div class="editor-container">
		<div id="editor">
			<div class="editor-content">
				<div class="page-header">
					<textarea class="edit-title no-canvas" type="text" ng-model="layer.title" placeholder="Título da camada" mc-disable-enter="$event" spellcheck="false" autocorrect="off" autocapitalize="off" msd-elastic>{{layer.title}}</textarea>
					<textarea class="edit-description no-canvas" type="text" ng-model="layer.description" mc-disable-enter="$event" placeholder="Descrição" spellcheck="false" autocorrect="off" autocapitalize="off" msd-elastic>{{layer.description}}</textarea>
				</div>
				<div class="content">
					<div id="layer-edit">
						<ul class="map-editor-tabs layer-objects-nav">
							<li><a href="#">Features</a></li>
							<li><a href="#">Media</a></li>
						</ul>
						<div ng-controller="FeatureCtrl">
							<div id="layer-features" class="map-editor-subcontent">
								<div class="features-list">
									<p>Você tem {{features.length}} features nesta camada.</p>
									<p><a ng-click="new()">Adicionar nova</a></p>
									<input type="text" ng-model="search" placeholder="Encontrar features" />
									<ul>
										<li ng-repeat="feature in features | filter:search" ng-click="viewInMap(feature._id)" data-feature="{{feature._id}}">
											{{feature.title}} <a href="javascript:void(0)" ng-click="edit(feature._id)">Editar</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div ng-controller="ContentCtrl">
							<div id="layer-content" class="map-editor-subcontent" ng-hide="editing">
								<p>Você tem {{content.length}} conteúdos nesta camada.</p>
								<p><a ng-click="new()">Adicionar novo</a></p>
								<input type="text" ng-model="search" placeholder="Encontrar conteúdo" />
								<ul>
									<li ng-repeat="item in content | filter:search" data-content="{{item._id}}">
										{{item.title}} <a href="#" ng-click="edit(item._id)">Editar</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<form class="layer-actions" ng-submit="save()">
			<a href="#" class="button" ng-click="save()">Atualizar</button>
			<a href="#" class="button" ng-click="delete()">Remover</a>
			<a href="#" class="button" ng-click="cancel()">Cancelar</a>
		</form>
	</div>
	<div class="map-container">
		<div id="map" ng-controller="MapCtrl">
		</div>
		<div ng-controller="FeatureEditCtrl">
			<div id="edit-feature" ng-show="editing">
				<form ng-submit="save()">
					<textarea class="edit-title no-canvas" placeholder="Título da feature" ng-model="editing.title" mc-disable-enter="$event" spellcheck="false" autocorrect="off" autocapitalize="off" msd-elastic>{{editing.title}}</textarea>
					<textarea class="edit-description no-canvas" placeholder="Descrição da feature" ng-model="editing.description" mc-disable-enter="$event" spellcheck="false" autocorrect="off" autocapitalize="off" msd-elastic>{{editing.description}}</textarea>
					<div class="feature-actions">
						<button type="submit">Salvar</button>
						<a class="button" href="#" ng-click="delete()" ng-hide="!feature">Remover</a>
						<a class="button" ng-click="cancel()">Cancelar</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>