<div class="map-view layer-view">
	<div class="page-header">
		<div class="container">
			<div class="four columns row">
				<p><a href="/layers">Voltar</a></p>
				<h1>{{layer.title}}</h1>
				<p><a href="/layers/{{layer._id}}/edit">Editar</a></p>
			</div>
		</div>
	</div>
	<div id="map" ng-controller="FeatureCtrl">
		<div id="layer-map"></div>
	</div>
	<div class="posts-container" ng-controller="ContentCtrl" ng-show="contents.length" ng-class="{active: content}">
		<div id="posts">
			<div class="single-post" ng-show="content">
				<a href="/layers/{{layer._id}}">Fechar</a>
				<h2>{{content.title}}</h2>
				<div class="content-body">
					<div ng-repeat="block in content.sirTrevorData">
						<div dynamic="renderBlock(block)"></div>
					</div>
				</div>
			</div>
			<div ng-hide="content">
				<ul class="content-list">
					<li ng-repeat="post in contents">
						<h3><a href="/layers/{{layer._id}}/content/{{post._id}}">{{post.title}}</a></h3>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>