extends ../layouts/default

block main
	h1= feature.title

block content
	form(action="/features/"+feature.id, method="post", onsubmit="return confirm('Are you sure?')")
		input(type='hidden', name='_csrf', value="#{csrf_token}")
		a.btn.btn-default(href='/features/'+feature._id+'/edit', title="edit") Edit
		| &nbsp;
		input(type="hidden", name="_method", value="DELETE")
		button.btn.btn-danger(type="submit") Delete
	p
		a(href='/features') Ir para lista de features