p=locals.t('views.mailer.email.change.salute', {username: locals.user.name})

p=locals.t('views.mailer.email.change.intro')

p 
	a(href='#{settings.general.serverUrl}/email_change/#{locals.token._id}')=locals.t('views.mailer.email.change.link')

p=locals.t('views.mailer.email.change.bye')