p Olá, #{locals.user.name}

p Você solicitou alteração de e-mail no Mapas Coletivos.

p 
	a(href='#{settings.general.serverUrl}/email_change/#{locals.token._id}') Clique aqui para passar a utilizar este endereço.

p
	| Até logo!