extends ../layouts/map-editor

block main
	h1= title
	hr

block content
	#layer-edit
		#layer-features(ng-controller="FeatureCtrl")
			h3 Features
			input(type="text" ng-model="query" placeholder="Find features")
			ul
				li(ng-repeat="feature in features | filter:query") {{feature.properties.title}}
			p {{features.length}} features registered.