extends ../layouts/map-editor

block main
	h1= title
	hr

block content
	#layer-edit
		ul.map-editor-tabs.layer-objects-nav
			li
				a(href="#/features") Features
			li
				a(href="#/media") Medias
		div(ng-view)