extends ../../layouts/admin-area

block content
	section#dashboard
		form(action="/admin/settings/mail" method="post" role="form")
			table.formsender
				tr
					td.label
						label(for="SMTP.sender") Sender
					td.input
						input(type="text" name="SMTP[sender]" value=SMTP.sender placeholder="e.g. Notifications <notification@yourmailhost.com>")
				tr
					td.label
						label(for="SMTP[host]") SMTP Host
					td.input
						input(name="SMTP[host]" value=SMTP.host type="text" placeholder="smtp.yourmailhost.com")=SMTP.host
				tr
					td.label
						label(for="SMTP.username") SMTP Username
					td.input
						input(type="text" name="SMTP[username]" value=SMTP.username)
				tr
					td.label
						label(for="SMTP.password") Password (will be stored as plain text)
					td.input
						input(type="password" name="SMTP[password]" value=SMTP.password)
						
			input.btn.btn-primary(type='submit' value="Update")