extends ../../layouts/admin-area

block content
	section#dashboard
		p Defina aqui as configurações de privacidade do seu site.
		table.form
			tr
				td.label
					label(for="site_public") Visibilidade em mecanismos de busca
				td.input
					input(id="site_public" type="checkbox")
					label(for="site_public") Marque para desencorajar mecanismos de busca de indexar seu site.