<div class="modal share-modal share-map">
	<div class="modal-container">
		<div class="modal-content">
			<a href="javascript:void(0);" class="close-button lsf" ng-click="close()" title="Fechar">&#xE10f;</a>
			<h2>Compartilhar {{map.title}}</h2>
			<div class="social">
				<a href="javascript:void(0);" class="facebook lsf" title="Compartilhar no Facebook" ng-click="socialWindow(social.facebook, 'facebook')">&#xE047;</a>
				<a href="javascript:void(0);" class="twitter lsf" title="Compartilhar no Twitter" ng-click="socialWindow(social.twitter, 'twitter')">&#xE12f;</a>
			</div>
		</div>
	</div>
</div>