<div class="map-view" ng-controller="FeatureCtrl">
	<div class="page-header">
		<div class="container">
			<div class="four columns row">
				<div id="map-info" class="map-info">
					<h1>{{map.title}}</h1>
					<p class="author">by {{map.creator.name}}</p>
				</div>
			</div>
		</div>
	</div>
	<div id="map-controls" class="map-controls" ng-controller="MapActionsCtrl">
		<div class="container">
			<div class="six columns">
				<ul>
					<li ng-show="canEdit(map)">
						<a href="/maps/{{map._id}}/edit" title="Editar">
							<span class="lsf">&#xE09f;</span>
							<span class="label">Editar</span>
						</a>
					</li>
					<li ng-show="canEdit(map)">
						<a href="javascript:void(0);" ng-click="delete(map)" title="Editar">
							<span class="lsf">&#xE12c;</span>
							<span class="label">Remover</span>
						</a>
					</li>
					<li ng-show="map.visibility !== 'Private' || canEdit(map)">
						<a href="javascript:void(0);" ng-click="share(map)" title="Compartilhar">
							<span class="lsf">&#xE118;</span>
							<span class="label">Compartilhar</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="map-container">
		<div id="map"></div>
	</div>
	<div id="map-sidebar" ng-controller="ContentCtrl">
		<div id="feature-info" class="single-feature" ng-show="feature">
			<a href="/maps/{{map._id}}">Fechar</a>
			<h2>{{feature.title}}</h2>
			<p>{{feature.description}}</p>
		</div>
		<div class="single-post" ng-show="content">
			<a href="/maps/{{map._id}}">Fechar</a>
			<h2>{{content.title}}</h2>
			<div class="content-meta">
				<ul class="features" ng-show="content.featureObjs.length">
					<li ng-repeat="feature in content.featureObjs">
						<a href="/maps/{{map._id}}/feature/{{feature._id}}">{{feature.title}}</a>
					</li>
				</ul>
			</div>
			<div class="content-body">
				<div ng-repeat="block in content.sirTrevorData">
					<div dynamic="renderBlock(block)"></div>
				</div>
			</div>
		</div>
		<div class="map-layers" ng-hide="content">
			<ul class="layer-list">
				<li ng-repeat="layer in layers">
					<ul class="layer-contents">
						<li ng-repeat="content in layer.contents">
							<h4><a href="/maps/{{map._id}}/content/{{content._id}}">{{content.title}}</a></h4>
						</li>
					</ul>
				</li>
			</ul>
	</div>
</div>