<div class="map-view" ng-controller="FeatureCtrl">
	<div class="page-header">
		<div class="container">
			<div class="four columns row">
				<div id="map-info" class="map-info">
					<h1>{{map.title}}</h1>
					<p class="author">por <a href="/user/{{map.creator.username}}/">{{map.creator.name}}</a></p>
				</div>
			</div>
		</div>
	</div>
	<div id="map-controls" class="map-controls" ng-controller="MapActionsCtrl">
		<div class="container">
			<div class="six columns">
				<ul>
					<li ng-show="canEdit(map)">
						<a href="/maps/{{map._id}}/edit" title="Editar">
							<span class="lsf">&#xE09f;</span>
							<span class="label">Editar</span>
						</a>
					</li>
					<li ng-show="canEdit(map)">
						<a href="javascript:void(0);" ng-click="delete(map)" title="Editar">
							<span class="lsf">&#xE12c;</span>
							<span class="label">Remover</span>
						</a>
					</li>
					<li ng-show="map.visibility !== 'Private' || canEdit(map)">
						<a href="javascript:void(0);" ng-click="share(map)" title="Compartilhar">
							<span class="lsf">&#xE118;</span>
							<span class="label">Compartilhar</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="map-container">
		<div id="map"></div>
	</div>
	<div id="map-sidebar" ng-controller="ContentCtrl">
		<div class="map-sidebar-content">
			<div id="map-info" class="sidebar-block main-info" ng-show="map.description && !feature && !content">
				<p>{{map.description}}</p>
			</div>
			<div id="feature-info" class="single-feature sidebar-block" ng-show="feature">
				<a href="/maps/{{map._id}}">Fechar</a>
				<h2>{{feature.title}}</h2>
				<p>{{feature.description}}</p>
			</div>
			<div id="posts" ng-controller="ContentCtrl" ng-show="contents.length">
				<div class="single-post sidebar-block active" ng-show="content" ng-include="templates.show"></div>
				<div ng-hide="content">
					<ul class="content-list">
						<li class="sidebar-block" ng-repeat="post in contents" ng-include="templates.list"></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>