<div class="map-view">
	<div class="page-header">
		<div class="container">
			<div class="four columns row">
				<p><a href="/maps">Voltar</a></p>
				<h1>{{map.title}}</h1>
				<div ng-show="canEdit(map)">
					<p><a href="/maps/{{map._id}}/edit">Editar</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="map-container">
		<div id="map"></div>
	</div>
	<div id="map-sidebar">
		<div class="map-layers">
			<h2>Camadas</h2>
			<ul class="layer-list">
				<li ng-repeat="layer in layers">
					<h3 ng-click="toggleLayer(layer)">{{layer.title}}</h3>
					<ul class="layer-contents">
						<li ng-repeat="content in layer.contents">
							<h4><a href="/maps/{{map._id}}/content/{{content._id}}">{{content.title}}</a></h4>
						</li>
					</ul>
				</li>
			</ul>
	</div>
</div>