p Olá, #{locals.contributor.name}

p O usuário #{locals.creator.name} te adicionou como contribuidor da camada #{locals.layer.title}.

p Visite o seu painel de controle para visualizá-la e começar a mapear coletivamente.

p Bom mapeamento!