p Olá, #{locals.user.name}

p Você precisa de uma senha para acessar o Mapas Coletivos com seu email.

p 
	| Clique&nbsp;
	a(href='#{locals.serverUrl}/new_password/#{locals.token._id}') aqui
	| &nbsp;para definir sua senha agora.


p
	| Obrigado!