p Olá, #{locals.user.name}

p Para que você possa começar a utilizar o Mapas Coletivos, é necessária uma nova senha.

p 
	| Clique 
	a(href='#{locals.appUrl}/password_update/#{locals.token._id}') aqui
	|  se você quiser atualizar agora.

p
	| Até logo!