p Olá, #{locals.user.name}

p Foi feita uma solicitação de recuperação de senha para o seu usuário (#{locals.user.email}). Se você não fez esta solicitação, ignore este e-mail. 

p 
	| Clique
	a(href='#{locals.appUrl}/password_reset/#{locals.token._id}') aqui
	| se você quiser alterar sua senha agora.


p
	| Obrigado!