p Olá, #{locals.token.data.user.name}

p Você foi convidado a participar do InfoAmazonia Rios!

p 
	a(href='#{locals.appUrl}/accept_invitation/#{locals.token._id}') Para começar a criar mapas, clique aqui e ative sua conta.

p
	| Até logo!