p Olá, #{locals.user.name}

p Bem-vindo ao Mapas Coletivos.

p 
	a(href='#{locals.appUrl}/activate_account/#{locals.token._id}') Para começar a criar mapas, clique aqui e ative sua conta.

p
	| Até logo!