extends ../../layouts/admin-area

block content
	section#dashboard
		p Cadastro de novo usuário
		- console.log(errors);
		include ../../includes/messages.jade
		form(action="/admin/users/invite" method="post" role="form")
			table.form
				tr
					td.label
						label(for="user[name]") Nome completo
					td.input
						input(name="user[name]" type="text")
				tr
					td.label
						label(for="user[email]") Email
					td.input
						input(name="user[email]" type="text")
				tr
					td.label
						label(for="user[role]") Perfil
					td.input
						select(name="user[role]")
							option(value='collaborator') Colaborador
							option(value='editor') Editor
							option(value='admin') Administrador
			input.btn.btn-primary(type='submit' value="Invite")