<div class="modal share-modal">
	<div class="modal-container">
		<div class="modal-content">
			<a href="javascript:void(0);" class="close-button lsf" ng-click="closePwdModal()" title="Fechar">&#xE10f;</a>
			<div class="change-pwd-form">
				<h4>Alteração de senha</h4>
				<p>Senha antiga</p>
				<input type="password" ng-model="chPwd.userPwd" />
				<h5>Senha nova</h5>
				<input type="password" ng-model="chPwd.newPwd" />
				<p>Repetir senha nova</p>
				<input type="password" ng-model="chPwd.validatePwd" />
				<a class="button" ng-click="changePassword(user, chPwd)">Alterar senha</a>
			</div>
		</div>
	</div>
</div>