<div class="page-subheader anti-row row">
	<div class="container">
		<div class="twelve columns">
			<h2>Camadas</h2>
			<input ng-show="layers.length" class="filter" type="text" ng-model="search" placeholder="Busque camadas" />
			<p ng-show="layers.length">{{user.name}} possui <strong>{{totalLayer}}</strong> camadas cadastradas.</p>
			<p ng-hide="layers.length">{{user.name}} ainda não criou camadas.</p>
		</div>
	</div>
</div>
<div class="layers-list" ng-show="layers.length" ng-controller="LayerActionsCtrl">
	<div
		infinite-scroll="$layer.nextPage()"
		infinite-scroll-disabled="$layer.busy"
		infinite-scroll-distance="1"
		infinite-scroll-immediate-check="false"
		class="container">
		<div class="three columns" ng-repeat="layer in layers | filter:search">
			<div ng-include="templates.list" autoscroll="false"></div>
		</div>
	</div>
</div>
<div class="create-layer" ng-hide="layers.length">
	<div class="container">
		<div class="twelve columns">
			<div class="info-box">
				<p>{{user.name}} ainda não criou camadas.</p>
			</div>
		</div>
	</div>
</div>