<div class="regular-page profile-page">
	<div class="page-header profile-header row">
		<div class="container">
			<div class="two columns">
				<img src="{{user.gravatar(240)}}" alt="{{user.name}}" />
			</div>
			<div class="five columns">
				<h1>
					<span class="user-name">{{user.name}}</span>
				</h1>
				<ul class="profile-actions header-actions">
					<li ng-class="{active: currentState === 'user'}">
						<a href="/user/{{user._id}}">
							<span class="lsf">&#xE137;</span>
							Sobre
						</a>
					</li>
					<li ng-class="{active: currentState === 'layers'}">
						<a href="/user/{{user._id}}/layers">
							<span class="lsf">&#xE129;</span>
							Camadas
						</a>
					</li>
					<li ng-class="{active: currentState === 'maps'}">
						<a href="/user/{{user._id}}/maps">
							<span class="lsf">&#xE08b;</span>
							Mapas
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div ui-view autoscroll="false">
		<div class="container">
			<div class="twelve columns">
				<p class="bio" ng-show="user.bio">{{user.bio}}</p>
			</div>
		</div>
	</div>
</div>