doctype html
html
	include ../includes/head
		body(ng-app="mapasColetivos" ng-controller="RouteCtrl")
			include ../includes/header
			#messages(ng-controller="MessageCtrl")
				.message-content.animate-show(ng-show="message.text")
					a.close-button(ng-click="close()" href="#") Fechar
					p(ng-class="message.status") {{message.text}}
			.ui-view
				include content
			include ../includes/footer
			include ../includes/foot