doctype html
html(ng-app="mapasColetivos")
	include ../includes/head
		body
			include ../includes/header
			#messages(ng-controller="MessageCtrl")
				.message-content.animate-show(ng-show="message.text")
					a.close-button(ng-click="close()" href="#") Fechar
					p(ng-class="message.status") {{message.text}}
			.ui-view(autoscroll="false")
				include content
			include ../includes/footer
			include ../includes/foot