doctype html
html
  include ../includes/head
  block head
    link(rel="stylesheet", href="/vendor/leaflet/leaflet.css")
  body
    include ../includes/header
    #map-editor
      .map-editor-container
        #editor
          .editor-content
            .page-header
              block main
            .messages
              include ../includes/messages
            .content
              block content
        #map
          block map
    include ../includes/footer
    include ../includes/foot