#map-editor
  .map-editor-container
    #editor
      .editor-content
        .page-header
          block main
        .messages
          include ../includes/messages
        .content
          block content
    #map
      block map